<template class="embed" data-videoid="{{ videoID }}">
  {{ original|raw }}
</template>
{# <img src="{{ imageUrl }}" width="{{ width }}" height="{{ height }}" data-videoid="{{ videoID }}"> #}
<div class="orejime-embed placeholder">
  <div class="content">
    <i class="fa-solid fa-cookie-bite"></i>
    <p>To watch this video, pleace <a href="#" id="orejime-loadconsent">accept the cookie policy</a>.</p>
  </div>
</div>