<template class="orejime-embed orejime-template" data-videoid="{{ videoID }}">
  {{ original|raw }}
</template>
<div class="orejime-embed placeholder" data-videoid="{{ videoID }}">
  <div class="orejime-content">
    <div class="orejime-cookie-icon"></div>
    <p>{{"To watch this video, please"|t}} <a href="#" id="orejime-loadconsent">{{"accept the cookie policy"|t}}</a></p>
  </div>
</div>