<template class="orejime_embed orejime_template" data-orejime-embeded-id="{{ contentID }}">
  {{ original|raw }}
</template>
<div class="orejime_embed placeholder" data-orejime-embeded-id="{{ contentID }}">
  <div class="orejime_content">
    <div class="orejime_cookie-icon"></div>
    <p>{{"To watch this video, please"|t}} <a href="#" id="orejime-loadconsent">{{"accept the cookie policy"|t}}</a></p>
  </div>
</div>
